<div id="admin-login-component" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-display-3">Admin Login</h1>
  <div class="login-form">
    <form [formGroup]="loginFormGroup">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" value="" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" placeholder="Passwort" value="" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!loginFormGroup.valid" (click)="login()">Login</button>
    </form>
  </div>
</div>
